@charset "UTF-8";
/**
* Foundation
*=====================*/
/* Document
 * ========================================================================== */
/**
 * Add border box sizing in all browsers (opinionated).
 */
*,
::before,
::after {
  box-sizing: border-box;
}

/**
  * 1. Add text decoration inheritance in all browsers (opinionated).
  * 2. Add vertical alignment inheritance in all browsers (opinionated).
  */
::before,
::after {
  text-decoration: inherit;
  /* 1 */
  vertical-align: inherit;
  /* 2 */
}

/**
  * 1. Use the default cursor in all browsers (opinionated).
  * 2. Change the line height in all browsers (opinionated).
  * 3. Use a 4-space tab width in all browsers (opinionated).
  * 4. Remove the grey highlight on links in iOS (opinionated).
  * 5. Prevent adjustments of font size after orientation changes in
  *    IE on Windows Phone and in iOS.
  * 6. Breaks words to prevent overflow in all browsers (opinionated).
  */
html {
  cursor: default;
  /* 1 */
  line-height: 1.5;
  /* 2 */
  -moz-tab-size: 4;
  /* 3 */
  -o-tab-size: 4;
     tab-size: 4;
  /* 3 */
  -webkit-tap-highlight-color: transparent;
  -ms-text-size-adjust: 100%;
  /* 5 */
  -webkit-text-size-adjust: 100%;
  /* 5 */
  word-break: break-word;
  /* 6 */
}

/* Sections
  * ========================================================================== */
/**
  * Remove the margin in all browsers (opinionated).
  */
body {
  margin: 0;
}

/**
  * Correct the font size and margin on `h1` elements within `section` and
  * `article` contexts in Chrome, Edge, Firefox, and Safari.
  */
h1 {
  font-size: 2em;
  margin: 0;
}

h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

/* Grouping content
  * ========================================================================== */
/**
  * Remove the margin on nested lists in Chrome, Edge, IE, and Safari.
  */
dl dl,
dl ol,
dl ul,
ol dl,
ul dl {
  margin: 0;
}

/**
  * Remove the margin on nested lists in Edge 18- and IE.
  */
ol ol,
ol ul,
ul ol,
ul ul {
  margin: 0;
}

/**
  * 1. Add the correct sizing in Firefox.
  * 2. Show the overflow in Edge 18- and IE.
  */
hr {
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
  * Add the correct display in IE.
  */
main {
  display: block;
}

/**
  * Remove the list style on navigation lists in all browsers (opinionated).
  */
nav ol,
nav ul {
  list-style: none;
  padding: 0;
}

/**
  * 1. Correct the inheritance and scaling of font size in all browsers.
  * 2. Correct the odd `em` font sizing in all browsers.
  */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
  * ========================================================================== */
/**
  * Remove the gray background on active links in IE 10.
  */
a {
  background-color: transparent;
}

/**
  * Add the correct text decoration in Edge 18-, IE, and Safari.
  */
abbr[title] {
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/**
  * Add the correct font weight in Chrome, Edge, and Safari.
  */
b,
strong {
  font-weight: bolder;
}

/**
  * 1. Correct the inheritance and scaling of font size in all browsers.
  * 2. Correct the odd `em` font sizing in all browsers.
  */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
  * Add the correct font size in all browsers.
  */
small {
  font-size: 80%;
}

/* Embedded content
  * ========================================================================== */
/*
  * Change the alignment on media elements in all browsers (opinionated).
  */
audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/**
  * Add the correct display in IE 9-.
  */
audio,
video {
  display: inline-block;
}

/**
  * Add the correct display in iOS 4-7.
  */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
  * Remove the border on iframes in all browsers (opinionated).
  */
iframe {
  border-style: none;
}

/**
  * Remove the border on images within links in IE 10-.
  */
img {
  border-style: none;
}

/**
  * Change the fill color to match the text color in all browsers (opinionated).
  */
svg:not([fill]) {
  fill: currentColor;
}

/**
  * Hide the overflow in IE.
  */
svg:not(:root) {
  overflow: hidden;
}

/* Tabular data
  * ========================================================================== */
/**
  * Collapse border spacing in all browsers (opinionated).
  */
table {
  border-collapse: collapse;
}

/* Forms
  * ========================================================================== */
/**
  * Remove the margin on controls in Safari.
  */
button,
input,
select {
  margin: 0;
}

/**
  * 1. Show the overflow in IE.
  * 2. Remove the inheritance of text transform in Edge 18-, Firefox, and IE.
  */
button {
  overflow: visible;
  /* 1 */
  text-transform: none;
  /* 2 */
}

/**
  * Correct the inability to style buttons in iOS and Safari.
  */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
  * 1. Change the inconsistent appearance in all browsers (opinionated).
  * 2. Correct the padding in Firefox.
  */
fieldset {
  border: 1px solid #a0a0a0;
  /* 1 */
  padding: 0.35em 0.75em 0.625em;
  /* 2 */
}

/**
  * Show the overflow in Edge 18- and IE.
  */
input {
  overflow: visible;
}

/**
  * 1. Correct the text wrapping in Edge 18- and IE.
  * 2. Correct the color inheritance from `fieldset` elements in IE.
  */
legend {
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  white-space: normal;
  /* 1 */
}

/**
  * 1. Add the correct display in Edge 18- and IE.
  * 2. Add the correct vertical alignment in Chrome, Edge, and Firefox.
  */
progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

/**
  * Remove the inheritance of text transform in Firefox.
  */
select {
  text-transform: none;
}

/**
  * 1. Remove the margin in Firefox and Safari.
  * 2. Remove the default vertical scrollbar in IE.
  * 3. Change the resize direction in all browsers (opinionated).
  */
textarea {
  margin: 0;
  /* 1 */
  overflow: auto;
  /* 2 */
  resize: vertical;
  /* 3 */
}

/**
  * Remove the padding in IE 10-.
  */
[type=checkbox],
[type=radio] {
  padding: 0;
}

/**
  * 1. Correct the odd appearance in Chrome, Edge, and Safari.
  * 2. Correct the outline style in Safari.
  */
[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
  * Correct the cursor style of increment and decrement buttons in Safari.
  */
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
  * Correct the text style of placeholders in Chrome, Edge, and Safari.
  */
::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54;
}

/**
  * Remove the inner padding in Chrome, Edge, and Safari on macOS.
  */
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
  * 1. Correct the inability to style upload buttons in iOS and Safari.
  * 2. Change font properties to `inherit` in Safari.
  */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/**
  * Remove the inner border and padding of focus outlines in Firefox.
  */
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
  * Restore the focus outline styles unset by the previous rule in Firefox.
  */
:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
  * Remove the additional :invalid styles in Firefox.
  */
:-moz-ui-invalid {
  box-shadow: none;
}

/* Interactive
  * ========================================================================== */
/*
  * Add the correct display in Edge 18- and IE.
  */
details {
  display: block;
}

/*
  * Add the correct styles in Edge 18-, IE, and Safari.
  */
dialog {
  background-color: white;
  border: solid;
  color: black;
  display: block;
  height: -moz-fit-content;
  height: -webkit-fit-content;
  height: fit-content;
  left: 0;
  margin: auto;
  padding: 1em;
  position: absolute;
  right: 0;
  width: -moz-fit-content;
  width: -webkit-fit-content;
  width: fit-content;
}

dialog:not([open]) {
  display: none;
}

/*
  * Add the correct display in all browsers.
  */
summary {
  display: list-item;
}

/* Scripting
  * ========================================================================== */
/**
  * Add the correct display in IE 9-.
  */
canvas {
  display: inline-block;
}

/**
  * Add the correct display in IE.
  */
template {
  display: none;
}

/* User interaction
  * ========================================================================== */
/*
  * 1. Remove the tapping delay in IE 10.
  * 2. Remove the tapping delay on clickable elements
       in all browsers (opinionated).
  */
a,
area,
button,
input,
label,
select,
summary,
textarea,
[tabindex] {
  /* 1 */
  touch-action: manipulation;
  /* 2 */
}

/**
  * Add the correct display in IE 10-.
  */
[hidden] {
  display: none;
}

/* Accessibility
  * ========================================================================== */
/**
  * Change the cursor on busy elements in all browsers (opinionated).
  */
[aria-busy=true] {
  cursor: progress;
}

/*
  * Change the cursor on control elements in all browsers (opinionated).
  */
[aria-controls] {
  cursor: pointer;
}

/*
  * Change the cursor on disabled, not-editable, or otherwise
  * inoperable elements in all browsers (opinionated).
  */
[aria-disabled=true],
[disabled] {
  cursor: not-allowed;
}

/*
  * Change the display on visually hidden accessible elements
  * in all browsers (opinionated).
  */
[aria-hidden=false][hidden] {
  display: initial;
}

[aria-hidden=false][hidden]:not(:focus) {
  clip: rect(0, 0, 0, 0);
  position: absolute;
}

@font-face {
  font-family: "m1";
  src: url("../../font/mplus-1m-regular.ttf") format("truetype");
  src: url("../../font/mplus-1m-regular.woff") format("woff");
}
@font-face {
  font-family: "m1-light";
  src: url("../../font/mplus-1m-light.ttf") format("truetype");
  src: url("../../font/mplus-1m-light.woff") format("woff");
}
@font-face {
  font-family: "m1-thin";
  src: url("../../font/mplus-1m-thin.ttf") format("truetype");
  src: url("../../font/mplus-1m-thin.woff") format("woff");
}
@font-face {
  font-family: "m1-medium";
  src: url("../../font/mplus-1m-medium.ttf") format("truetype");
  src: url("../../font/mplus-1m-medium.woff") format("woff");
}
@font-face {
  font-family: "m1-bold";
  src: url("../../font/mplus-1m-bold.ttf") format("truetype");
  src: url("../../font/mplus-1m-bold.woff") format("woff");
}
html {
  font-size: 100%;
}

body {
  font-family: "m1-normal", "Roboto", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
}

li {
  list-style: none;
}

.l-map {
  position: relative;
  width: 100%;
  height: 691px;
  /*min-widthはこれ以上は小さくならないの意*/
  /*heroのスマホ用画像*/
  /*タブレットの切り替え*/
  /*heroのタブレット用画像*/
  /*pc切り替え*/
  /*min-widthはこれ以上は小さくならないの意*/
  /*heroのスマホ用画像*/
  /*タブレットの切り替え*/
  /*heroのタブレット用画像*/
  /*pc切り替え*/
}
@media (min-width: 600px) {
  .l-map {
    height: 415px;
  }
}
@media (min-width: 1025px) {
  .l-map {
    height: 649px;
  }
}

.l-article {
  color: #3C2A10;
  padding: 20px 20px 50px 20px;
  /*min-widthはこれ以上は小さくならないの意*/
  /*heroのスマホ用画像*/
  /*タブレットの切り替え*/
  /*heroのタブレット用画像*/
  /*pc切り替え*/
  /*min-widthはこれ以上は小さくならないの意*/
  /*heroのスマホ用画像*/
  /*タブレットの切り替え*/
  /*heroのタブレット用画像*/
  /*pc切り替え*/
}
@media (min-width: 600px) {
  .l-article {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    margin: 40px;
    padding: 0;
  }
}
@media (min-width: 1025px) {
  .l-article {
    gap: 5%;
    margin: 7% 5%;
  }
}

.l-footer {
  width: 100%;
  height: 150px;
  background: url(../../image/front-page/footer_nami.jpg) no-repeat center/cover;
  text-align: center;
  padding: 40px 50px 25px 50px;
  color: #fff;
  font-family: "m1";
  /*@include m.breakpoint(tab) {
    width: 834px;
  }*/
  /*min-widthはこれ以上は小さくならないの意*/
  /*heroのスマホ用画像*/
  /*タブレットの切り替え*/
  /*heroのタブレット用画像*/
  /*pc切り替え*/
}
@media (min-width: 1025px) {
  .l-footer {
    grid-row: 4/5;
    grid-column: 1/3;
  }
}

.l-hero {
  background: url(../../image/front-page/hero_iphone.jpg) no-repeat center/cover;
  width: 100%;
  max-width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  padding: 40% 0 40% 5%;
  /*min-widthはこれ以上は小さくならないの意*/
  /*heroのスマホ用画像*/
  /*タブレットの切り替え*/
  /*heroのタブレット用画像*/
  /*pc切り替え*/
  /*min-widthはこれ以上は小さくならないの意*/
  /*heroのスマホ用画像*/
  /*タブレットの切り替え*/
  /*heroのタブレット用画像*/
  /*pc切り替え*/
}
@media (min-width: 600px) {
  .l-hero {
    background: url(../../image/front-page/hero.jpg) no-repeat center/cover;
    padding: 15% 0 15% 8%;
  }
}
@media (min-width: 1025px) {
  .l-hero {
    background: url(../../image/front-page/hero_pc.jpg) no-repeat center/cover;
    grid-row: 2/3;
    padding: 15% 0 15% 5%;
  }
}

.l-header {
  background-color: #FFF7EF;
  text-align: center;
  color: #707070;
  padding: 65px 13px 42px 25px;
  /*min-widthはこれ以上は小さくならないの意*/
  /*heroのスマホ用画像*/
  /*タブレットの切り替え*/
  /*heroのタブレット用画像*/
  /*pc切り替え*/
}
@media (min-width: 1025px) {
  .l-header {
    display: flex;
    justify-content: space-between;
    grid-column: 1/2;
    grid-row: 1/2;
    padding: 3% 0 3% 2%;
  }
}

.l-snav {
  background-color: #F2EDE9;
  width: 87%;
  position: fixed;
  top: 0;
  z-index: 100;
  right: -90%;
  transition: all 0.6s;
  /*min-widthはこれ以上は小さくならないの意*/
  /*heroのスマホ用画像*/
  /*タブレットの切り替え*/
  /*heroのタブレット用画像*/
  /*pc切り替え*/
  /*min-widthはこれ以上は小さくならないの意*/
  /*heroのスマホ用画像*/
  /*タブレットの切り替え*/
  /*heroのタブレット用画像*/
  /*pc切り替え*/
}
.l-snav.is-open {
  display: block;
  overflow: auto;
  height: 100%;
  position: fixed;
  top: 0;
  /*メニューを出現させる*/
  right: 0;
  z-index: 100;
  transition: all 0.6s;
}
@media (min-width: 600px) {
  .l-snav {
    width: 45%;
    right: -50%;
  }
}
@media (min-width: 1025px) {
  .l-snav {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: block;
    grid-column: 2/3;
    grid-row: 1/4;
  }
}

.l-wrapper {
  display: block;
  position: relative;
  /*min-widthはこれ以上は小さくならないの意*/
  /*heroのスマホ用画像*/
  /*タブレットの切り替え*/
  /*heroのタブレット用画像*/
  /*pc切り替え*/
}
.l-wrapper.is-open {
  overflow-y: hidden;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
}
@media (min-width: 1025px) {
  .l-wrapper {
    width: 100%;
    display: grid;
    grid-template-columns: 80% 20%;
    grid-template-rows: auto auto auto auto;
  }
}

.l-wrapper__main {
  grid-row: 3/4;
}

._button__header {
  background: transparent;
  border-color: transparent;
  font-size: 20px;
  font-weight: bold;
  color: #707070;
  /*min-widthはこれ以上は小さくならないの意*/
  /*heroのスマホ用画像*/
  /*タブレットの切り替え*/
  /*heroのタブレット用画像*/
  /*pc切り替え*/
}
@media (min-width: 600px) {
  ._button__header {
    font-size: 34px;
  }
}

._heading__header {
  font-size: 40px;
  font-weight: bold;
  /*min-widthはこれ以上は小さくならないの意*/
  /*heroのスマホ用画像*/
  /*タブレットの切り替え*/
  /*heroのタブレット用画像*/
  /*pc切り替え*/
}
@media (min-width: 1025px) {
  ._heading__header {
    display: flex;
    align-items: center;
    font-size: 64px;
  }
}

._seach__text {
  width: 230px;
  height: 46px;
  border-color: #707070;
  border-radius: 10px;
  border-style: solid;
  border-width: 1px;
  padding-left: 60px;
  /*min-widthはこれ以上は小さくならないの意*/
  /*heroのスマホ用画像*/
  /*タブレットの切り替え*/
  /*heroのタブレット用画像*/
  /*pc切り替え*/
}
@media (min-width: 600px) {
  ._seach__text {
    width: 396px;
  }
}

._seach__submit {
  width: 78px;
  height: 46px;
  font-family: "m1-bold";
  font-size: 16px;
  color: #707070;
  background: linear-gradient(to bottom right, #F0EBE7, #DFD9D4);
  border-color: #707070;
  border-radius: 10px;
  border-style: solid;
  border-width: 1px;
  padding: 5px 10px;
  /*min-widthはこれ以上は小さくならないの意*/
  /*heroのスマホ用画像*/
  /*タブレットの切り替え*/
  /*heroのタブレット用画像*/
  /*pc切り替え*/
}
@media (min-width: 600px) {
  ._seach__submit {
    width: 136px;
  }
}

._menu__heading {
  display: none;
  /*min-widthはこれ以上は小さくならないの意*/
  /*heroのスマホ用画像*/
  /*タブレットの切り替え*/
  /*heroのタブレット用画像*/
  /*pc切り替え*/
}
@media (min-width: 1025px) {
  ._menu__heading {
    display: block;
    color: #707070;
    font-family: "Roboto";
    font-weight: bold;
    font-size: 34px;
    line-height: 1.32;
  }
}

.button__side {
  position: absolute;
  top: -240px;
  right: 13px;
  z-index: 100;
  background: transparent;
  border-color: transparent;
  font-size: 20px;
  font-weight: bold;
  color: #707070;
  /*min-widthはこれ以上は小さくならないの意*/
  /*heroのスマホ用画像*/
  /*タブレットの切り替え*/
  /*heroのタブレット用画像*/
  /*pc切り替え*/
}
@media (min-width: 600px) {
  .button__side {
    font-size: 34px;
  }
}

._heading__hero {
  color: #fff;
  font-size: 36px;
  font-family: "m1-bold";
  position: absolute;
  margin: 0;
}

._heading__card {
  font-size: 41px;
  font-weight: bold;
  color: #EAEAEA;
  line-height: 1.31;
  /*min-widthはこれ以上は小さくならないの意*/
  /*heroのスマホ用画像*/
  /*タブレットの切り替え*/
  /*heroのタブレット用画像*/
  /*pc切り替え*/
  /*min-widthはこれ以上は小さくならないの意*/
  /*heroのスマホ用画像*/
  /*タブレットの切り替え*/
  /*heroのタブレット用画像*/
  /*pc切り替え*/
}
@media (min-width: 600px) {
  ._heading__card {
    font-size: 44px;
  }
}
@media (min-width: 1025px) {
  ._heading__card {
    font-size: 80px;
  }
}

._heading__card--second {
  font-size: 41px;
  font-weight: bold;
  color: #fff;
  line-height: 1.31;
  /*min-widthはこれ以上は小さくならないの意*/
  /*heroのスマホ用画像*/
  /*タブレットの切り替え*/
  /*heroのタブレット用画像*/
  /*pc切り替え*/
}
@media (min-width: 1025px) {
  ._heading__card--second {
    font-size: 80px;
  }
}

.card__subtitle {
  font-size: 22px;
  font-family: "m1-bold";
  /*min-widthはこれ以上は小さくならないの意*/
  /*heroのスマホ用画像*/
  /*タブレットの切り替え*/
  /*heroのタブレット用画像*/
  /*pc切り替え*/
}
@media (min-width: 600px) {
  .card__subtitle {
    font-size: 24px;
  }
}

.card__text {
  font-family: "m1";
  font-size: 16px;
  line-height: 1.43;
}

._text__map {
  color: #fff;
  font-family: "m1-bold";
  font-size: 14px;
  line-height: 2.35;
  /*min-widthはこれ以上は小さくならないの意*/
  /*heroのスマホ用画像*/
  /*タブレットの切り替え*/
  /*heroのタブレット用画像*/
  /*pc切り替え*/
}
@media (min-width: 1025px) {
  ._text__map {
    font-size: 16px;
  }
}

._heading__map {
  color: #fff;
  font-family: "m1-bold";
  font-size: 30px;
  /*min-widthはこれ以上は小さくならないの意*/
  /*heroのスマホ用画像*/
  /*タブレットの切り替え*/
  /*heroのタブレット用画像*/
  /*pc切り替え*/
}
@media (min-width: 1025px) {
  ._heading__map {
    font-size: 36px;
  }
}

._location__map {
  position: absolute;
  z-index: 5;
  opacity: 0.6;
  width: 100%;
  height: 691px;
  /*min-widthはこれ以上は小さくならないの意*/
  /*heroのスマホ用画像*/
  /*タブレットの切り替え*/
  /*heroのタブレット用画像*/
  /*pc切り替え*/
  /*min-widthはこれ以上は小さくならないの意*/
  /*heroのスマホ用画像*/
  /*タブレットの切り替え*/
  /*heroのタブレット用画像*/
  /*pc切り替え*/
}
._location__map > iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
@media (min-width: 600px) {
  ._location__map {
    height: 415px;
  }
}
@media (min-width: 1025px) {
  ._location__map {
    height: 649px;
  }
}

._back__map {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 691px;
  background-color: black;
  /*min-widthはこれ以上は小さくならないの意*/
  /*heroのスマホ用画像*/
  /*タブレットの切り替え*/
  /*heroのタブレット用画像*/
  /*pc切り替え*/
  /*min-widthはこれ以上は小さくならないの意*/
  /*heroのスマホ用画像*/
  /*タブレットの切り替え*/
  /*heroのタブレット用画像*/
  /*pc切り替え*/
}
@media (min-width: 600px) {
  ._back__map {
    height: 415px;
  }
}
@media (min-width: 1025px) {
  ._back__map {
    height: 649px;
  }
}

._info__footer {
  font-size: 20px;
}

.copyright__footer {
  font-size: 14px;
}

.Button__header {
  display: block;
  margin-left: auto;
  /*min-widthはこれ以上は小さくならないの意*/
  /*heroのスマホ用画像*/
  /*タブレットの切り替え*/
  /*heroのタブレット用画像*/
  /*pc切り替え*/
}
@media (min-width: 1025px) {
  .Button__header {
    display: none;
  }
}

.Seach__header {
  display: flex;
  justify-content: center;
  align-items: center;
}

._Wrapper__snav {
  position: relative;
}
._Wrapper__snav::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 20;
  transition: all 0.6s;
}
._Wrapper__snav.is-open::before {
  content: "";
  display: block;
  background: #000;
  opacity: 0.5;
  position: fixed;
  top: 0;
  right: 0;
  transition: all 0.6s;
}

._Wrapper__snav--button {
  border: 0px none;
}

._Button__snav {
  /*×ボタン*/
  font-size: 0;
  /*min-widthはこれ以上は小さくならないの意*/
  /*heroのスマホ用画像*/
  /*タブレットの切り替え*/
  /*heroのタブレット用画像*/
  /*pc切り替え*/
}
._Button__snav::before, ._Button__snav::after {
  /*上下線*/
  content: "";
  display: none;
  width: 39px;
  height: 5px;
  background: #707070;
  position: absolute;
}
._Button__snav.is-open::before {
  content: "";
  display: block;
  width: 39px;
  height: 5px;
  background: #707070;
  position: absolute;
  transform: rotate(45deg);
  top: 30px;
  right: 20px;
}
._Button__snav.is-open::after {
  content: "";
  display: block;
  width: 39px;
  height: 5px;
  background: #707070;
  position: absolute;
  transform: rotate(-45deg);
  top: 30px;
  right: 20px;
}
@media (min-width: 1025px) {
  ._Button__snav {
    display: none;
  }
}

/*
  &::before,
  &::after {*/
/*上下線*/
/*content: "";
  width: $btnWidth;
  background: #707070;
  position: absolute;
  transition: 0.2s;
}

&::before {
  top: 15px;
  height: $btnHeight;
}

&::after {
  top: 33px;
  height: $btnHeight;
}*/
/*@include m.breakpoint(tab) {
  display: block;
  width: 50px;
  height: 50px;
  background-color: white;
  position: fixed;
  z-index: 2000;
  top: 0;
  right: 0;
}*/
._Summary__menu-title {
  font-size: 24px;
  font-family: "m1-bold";
  color: #707070;
}

._Detail__menu {
  font-size: 20px;
  font-family: "m1";
}

.Card {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  background: url(../../../image/front-page/card__Takeout.jpg) no-repeat center/cover;
  width: 100%;
  height: auto;
  max-width: 100%;
  padding: 13px 12px 1px 12px;
}

.Card--second {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  background: url(../../../image/front-page/card__eatin.jpg) no-repeat center/cover;
  width: 100%;
  height: auto;
  max-width: 100%;
  padding: 13px 12px 1px 12px;
  margin-top: 20px;
  /*min-widthはこれ以上は小さくならないの意*/
  /*heroのスマホ用画像*/
  /*タブレットの切り替え*/
  /*heroのタブレット用画像*/
  /*pc切り替え*/
}
@media (min-width: 600px) {
  .Card--second {
    margin-top: 0;
  }
}

.Text__wrapper {
  width: 100%;
  height: auto;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 19px 10px 20px 10px;
  margin-bottom: 10px;
  /*min-widthはこれ以上は小さくならないの意*/
  /*heroのスマホ用画像*/
  /*タブレットの切り替え*/
  /*heroのタブレット用画像*/
  /*pc切り替え*/
}
@media (min-width: 1025px) {
  .Text__wrapper {
    margin-bottom: 20px;
  }
}

._Wrapper__map {
  position: absolute;
  z-index: 15;
  width: 100%;
  height: 415px;
  background-color: rgba(0, 0, 0, 0.29);
  padding: 40px 30px 50px 30px;
  /*min-widthはこれ以上は小さくならないの意*/
  /*heroのスマホ用画像*/
  /*タブレットの切り替え*/
  /*heroのタブレット用画像*/
  /*pc切り替え*/
  /*min-widthはこれ以上は小さくならないの意*/
  /*heroのスマホ用画像*/
  /*タブレットの切り替え*/
  /*heroのタブレット用画像*/
  /*pc切り替え*/
}
@media (min-width: 1025px) {
  ._Wrapper__map {
    width: 60%;
    height: 649px;
    padding: 5% 7% 0 7%;
  }
}

.u-seach__header--margin {
  margin-top: 45px;
  margin-right: 12px;
  /*min-widthはこれ以上は小さくならないの意*/
  /*heroのスマホ用画像*/
  /*タブレットの切り替え*/
  /*heroのタブレット用画像*/
  /*pc切り替え*/
}
@media (min-width: 1025px) {
  .u-seach__header--margin {
    margin-top: 0;
  }
}

.u-seach__icon {
  position: relative;
}
.u-seach__icon::after {
  content: "";
  width: 24px;
  height: 24px;
  background: url(../../../image/front-page/seach_icon.jpg) no-repeat center center/auto 100%;
  display: inline-block;
  position: absolute;
  top: 75%;
  transform: translateY(-50%);
  left: 5%;
  /*min-widthはこれ以上は小さくならないの意*/
  /*heroのスマホ用画像*/
  /*タブレットの切り替え*/
  /*heroのタブレット用画像*/
  /*pc切り替え*/
}
@media (min-width: 1025px) {
  .u-seach__icon::after {
    top: 50%;
  }
}

.u-wrapper__menu {
  position: relative;
  padding-top: 82px;
  padding-left: 46px;
}
.u-wrapper__menu > ul {
  margin-top: 85px;
}

.u-summary__menu {
  margin-top: 85px;
}

.u-summary__menu-title {
  margin-top: 40px;
}

.u-detail__menu-title {
  margin-left: 20px;
  margin-top: 23px;
}

.u-detail__menu {
  margin-top: 14px;
}

.u-card__text--margin {
  margin-top: 20px;
}

.u-separator__card {
  width: 10%;
  height: 4px;
  background-color: #fff;
  margin-top: 19px;
  margin-bottom: 70%;
  line-height: 1.31;
}

.u-card--adjust {
  padding: 0;
  margin: 0;
  margin-top: auto;
  /*文字増えた時の調整用*/
}

.u-separator {
  width: 75px;
  height: 2px;
  background-color: #fff;
  margin: 6% 0 7% 0;
  line-height: 1.5;
  /*min-widthはこれ以上は小さくならないの意*/
  /*heroのスマホ用画像*/
  /*タブレットの切り替え*/
  /*heroのタブレット用画像*/
  /*pc切り替え*/
}
@media (min-width: 600px) {
  .u-separator {
    margin: 3% 0 3% 0;
  }
}

.u-copyright__footer--margin {
  margin-top: 35px;
}

/**
* Foundation
*=====================*/
/**
* Layout
*=====================*/
/**
* Object
*=====================*/
/*Component-----------*/
/*Project-------------*/
/*Utility-------------*/
/*# sourceMappingURL=style.css.map */