@use '../../foundation/mixin.scss'as m;

._heading__header {
  font-size: 40px;
  font-weight: bold;
  @include m.breakpoint(pc) {
    display: flex;
    align-items: center;
    font-size: 64px;
  }
}