@use '../../foundation/mixin.scss'as m;


.u-seach__icon {
  position: relative;

  &::after {
    content: "";
    width: 24px;
    height: 24px;
    background: url(../../../image/front-page/seach_icon.jpg) no-repeat center center / auto 100%;
    display: inline-block;
    position: absolute;
    top: 75%;
    transform: translateY(-50%);
    left: 5%;
    @include m.breakpoint(pc) {
      top: 50%;
    }
  }
}