@use '../../foundation/mixin.scss'as m;

.u-separator {
  width: 75px;
  height: 2px;
  background-color: #fff;
  margin: 6% 0 7% 0;
  line-height: 1.5;

  @include m.breakpoint(tab) {
    margin: 3% 0 3% 0;
  }
}