@use '../../foundation/mixin.scss'as m;
@use 'sass:math';

.Button__header {
  display: block;
  margin-left: auto;
  
  @include m.breakpoint(pc) {
    display: none;
  }
}

._button__header {
  position: absolute;
  top: 5%;
  right: 2%;
  background: transparent;
  border-color: transparent;
  font-size: 20px;
  font-weight: bold;
  color: #707070;

  @include m.breakpoint(tab) {
    top: 8%;
    font-size: 34px;
  }
}