@use '../../foundation/mixin.scss'as m;

.card--second {
  margin-top: 20px;
  background: url(../../../image/front-page/card__eatin.jpg) no-repeat center /cover;

  @include m.breakpoint(tab) {
    margin-top: 0;
    }
  }