@use '../../foundation/mixin.scss'as m;

.card {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  width: 100%;
  max-width: 100%;
  height: auto;
  padding: 0.8rem 0.8rem 0.3rem 0.8rem;
  background: url(../../../image/front-page/card__Takeout.jpg) no-repeat center /cover;

  &--second {
    margin-top: 1.1rem;
    background: url(../../../image/front-page/card__eatin.jpg) no-repeat center /cover;
  
    @include m.breakpoint(tab) {
      margin-top: 0;
      }
    }

  &__separator {
    margin-top: 1rem;
    margin-bottom: 10rem;
    width: 10%;
    height: 4px;
    line-height: 1.31;
    background-color: #fff;
  }

  &__title {
    font-weight: bold;
    line-height: 1.31;
    color: #EAEAEA;
  
    @include m.breakpoint(pc) {
      font-size: 3.3rem;
    }
  }

  &__title--second {
    color: #fff;
  }
}
