@use '../../foundation/mixin.scss'as m;

.card {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  width: 100%;
  max-width: 100%;
  height: auto;
  padding: 0.8rem 0.8rem 0.3rem 0.8rem;
  background: url(../../../image/front-page/card__Takeout.jpg) no-repeat center /cover;
}
