@use '../../foundation/mixin.scss'as m;

.card {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  width: 100%;
  max-width: 100%;
  height: auto;
  padding: 13px 12px 1px 12px;
  background: url(../../../image/front-page/card__Takeout.jpg) no-repeat center /cover;
}
