@use '../../foundation/mixin.scss'as m;

.hero {
  background: url(../../image/front-page/hero_iphone.jpg) no-repeat center /cover;

  display: flex;
  position: relative;
  width: 100%;
  max-width: 100%;
  padding: 8rem 0 8rem 2rem;
  align-items: center;


  @include m.breakpoint(tab) {
    background: url(../../image/front-page/hero.jpg) no-repeat center /cover;
    padding: 7rem 0 7rem 3rem;
  }

  @include m.breakpoint(pc) {
    background: url(../../image/front-page/hero_pc.jpg) no-repeat center /cover;
    grid-row: 2/3;
  }

  &__heading {
    position: absolute;
    margin: 0;
    font-family: 'm1-bold';
    color: #fff;
  }
}