@use '../../foundation/mixin.scss'as m;

.hero {
  background: url(../../image/front-page/hero_iphone.jpg) no-repeat center /cover;

  @include m.breakpoint(tab) {
    background: url(../../image/front-page/hero.jpg) no-repeat center /cover;
  }

  @include m.breakpoint(pc) {
    background: url(../../image/front-page/hero_pc.jpg) no-repeat center /cover;
  }
}