@use '../../foundation/mixin.scss'as m;

.map-body__separator {
  margin: 1rem 0 1.1rem 0;
  width: 75px;
  height: 2px;
  line-height: 1.5;
  background-color: #fff;

  @include m.breakpoint(tab) {
    margin: 1.7rem 0 1.8rem 0;
  }
}