@use '../../foundation/mixin.scss'as m;

.map-body__content {
  font-family: 'm1-bold';
  font-size: 14px;
  line-height: 2.35;
  color: #fff;

  @include m.breakpoint(pc) {
    font-size: 16px;
  }
}