@use '../../foundation/mixin.scss'as m;

.map__background {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 691px;
  background-color: black;

  @include m.breakpoint(tab) {
    height: 415px;
  }

  @include m.breakpoint(pc) {
    height: 649px;
  }

}