@use '../../foundation/mixin.scss'as m;
@use 'sass:math';

.menu-button__close {
  /*×ボタン*/
  $btnWidth: 39px;
  $btnHeight: 5px;
  font-size: 0;

  &::before,
  &::after {
    /*上下線*/
    content: "";
    display: none;
    position: absolute;
    width: $btnWidth;
    height: $btnHeight;
    background: #707070;
  }

  &.is-open {
    &::before {
      content: "";
      display: block;
      position: absolute;
      top: 30px;
      right: 20px;
      width: $btnWidth;
      height: $btnHeight;
      background: #707070;
      transform: rotate(45deg);
    }

    &::after {
      content: "";
      display: block;
      position: absolute;
      top: 30px;
      right: 20px;
      width: $btnWidth;
      height: $btnHeight;
      background: #707070;
      transform: rotate(-45deg);
    }
  }
  @include m.breakpoint(pc) {
    display: none;
  }
}