@use '../../foundation/mixin.scss'as m;

.menu__heading {
  display: none;

  @include m.breakpoint(pc) {
    display: block;
    font-family: 'Roboto';
    font-weight: bold;
    font-size: 1.5rem;
    line-height: 1.32;
    color: #707070;
  }
}