@use '../../foundation/mixin.scss'as m;


.seach__icon {
  position: relative;

  &::after {
    content: "";
    display: inline-block;
    transform: translateY(-50%);
    position: absolute;
    top: 70%;
    left: 5%;
    width: 24px;
    height: 24px;
    background: url(../../../image/front-page/seach_icon.jpg) no-repeat center center / auto 100%;

    @include m.breakpoint(pc) {
      top: 50%;
    }
  }
}