@use '../../foundation/mixin.scss'as m;

.seach__submit {
  height: 46px;
  padding: 0.5rem 1.3rem;
  margin-top: 30px;
  font-family: 'm1-bold';
  color: #707070;
  background: linear-gradient(to bottom right, #F0EBE7, #DFD9D4); 
  border-color: #707070;
  border-radius: 10px;
  border-style: solid;
  border-width: 1px;

  @include m.breakpoint(tab) {
    padding: 0.5rem 2rem;
  }

  @include m.breakpoint(pc) {
    margin-top: 0;
  }
}
