@use '../../foundation/mixin.scss'as m;

.Text__wrapper {
  width:100%;
  height: auto;
  background-color: rgb(255, 255, 255, 0.8);
  padding: 19px 10px 20px 10px;
  margin-bottom: 10px;

  @include m.breakpoint(pc) {
    margin-bottom: 20px;
  }
}

.card__subtitle {
  font-size: 22px;
  font-family: 'm1-bold';

  @include m.breakpoint(tab) {
    font-size: 24px;
    }
}

.card__text {
  font-family: 'm1';
  font-size: 16px;
  line-height: 1.43;
}

.u-card__text--margin {
  margin-top: 20px;
}