@use '../foundation/mixin.scss'as m;

.l-hero {
  background: url(../../image/front-page/hero_iphone.jpg) no-repeat center /cover;
  width: 100%;
  max-width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  padding: 40% 0 40% 5%;

  @include m.breakpoint(tab) {
    background: url(../../image/front-page/hero.jpg) no-repeat center /cover;
    padding: 15% 0 15% 8%;
  }

  @include m.breakpoint(pc) {
    background: url(../../image/front-page/hero_pc.jpg) no-repeat center /cover;
    grid-row: 2/3;
    padding: 15% 0 15% 5%;
  }
}