@use '../foundation/mixin.scss'as m;

.l-map {
  position: relative;
  width: 100%;
  height: 691px;

  @include m.breakpoint(tab) {
    height: 415px;
  }

  @include m.breakpoint(pc) {
    height: 649px;
  }
}